In [ ]:
# Assignment a
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True) 
my_data.head()

In [11]:
# Assignment b
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True) 
my_data[10:15][['weight' , 'Diet']]

    weight  Diet
10     199     1
11     205     1
12      40     1
13      49     1
14      58     1

In [19]:
# Assingment c
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True) 
my_data[['weight' , 'Time', 'Chick']][my_data['Chick'] == 1]

    weight  Time  Chick
0       42     0      1
1       51     2      1
2       59     4      1
3       64     6      1
4       76     8      1
5       93    10      1
6      106    12      1
7      125    14      1
8      149    16      1
9      171    18      1
10     199    20      1
11     205    21      1

In [47]:
# Assignment d
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True) 
my_data.groupby("Diet")['weight'].max()

Diet
1    305
2    331
3    373
4    322
Name: weight, dtype: int64

In [ ]:
# Assignment e
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True) 
my_data.groupby("Chick")['Time'].max().sort_values(ascending=True)

In [8]:
# Assignment f
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True) 
test = my_data.groupby('Diet')['weight'].transform(max) == my_data['weight']
my_data[test]

     rownum  weight  Time  Chick  Diet
83       84     305    21      7     1
231     232     331    21     21     2
399     400     373    21     35     3
553     554     322    21     48     4

In [10]:
import numpy as np
import pandas as pd

my_data = pd.read_csv("files/chickweight.csv", sep=',', skipinitialspace=True)
result = my_data.groupby('Chick')['Time'].transform(max) == my_data['Time']
my_data[result][my_data['Time'] < 21]

C:\Users\pimde\AppData\Local\Temp\ipykernel_47716\3002459554.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  my_data[result][my_data['Time'] < 21]

     rownum  weight  Time  Chick  Diet
94       95     125    20      8     1
174     175      68    14     15     1
181     182      54    12     16     1
195     196      35     2     18     1
505     506     146    18     44     4